<%= render "shared/header" %>

<h1>イベント詳細画面</h1>

<div class="event-list">
    <div class="event-item">
      <% remaining_days = (@event.event_date - Date.today).to_i %>
      <p><%= @event.name %>まであと<%= remaining_days %>日</p> <!-- イベント名とイベントまでの残り日数を表示 -->
      <%= link_to '見積登録', new_event_event_quote_path(event_id: @event.id), method: :get, class: "event-red-btn", data: { turbo: false } %> <!-- 見積登録へのリンク -->
    </div>
    <% event_quotes = @event_quotes[@event.id] || [] %>
    <% if event_quotes.any? %>
      <% event_quote = event_quotes.first %>
      <% first_quote = event_quotes.first.cost.to_i %>
      <% last_quote = event_quotes.last.cost.to_i %>
      <% difference = last_quote - first_quote %>
      <div class='event-info'>
        <h3 class='event-name'>
          初回見積: <%= number_with_delimiter(first_quote) %>円 <!-- 初回見積額を表示 -->
          最新見積: <%= number_with_delimiter(last_quote) %>円 <!-- 最新見積額を表示 -->
          差分: <%= number_with_delimiter(difference) %>円 <!-- 初回と最新の見積額の差分を表示 -->
        </h3>
        <div class='event-date'>
          <%= event_quote.input_date.strftime("%Y年%m月%d日") %> <!-- 見積登録日を表示 -->
        </div>  
      </div>
      <canvas id="myChart_<%= @event.id %>"></canvas> <!-- グラフ表示エリア -->

      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
      <script>
      const data = <%= event_quotes.map { |quote| quote.cost.to_i }.to_json.html_safe %>; <!-- 見積額のデータ -->
      const labels = <%= (1..event_quotes.size).map { |i| "登録：#{i}回目" }.to_json.html_safe %>; <!-- ラベルデータ -->
      document.addEventListener('DOMContentLoaded', (event) => {
        const ctx = document.getElementById('myChart_<%= @event.id %>').getContext('2d');
        if (!ctx) {
          console.error('Canvas element not found!'); <!-- エラーメッセージ -->
          return;
        }

        const minData = Math.min(...data);
        const yMin = minData > 0 ? minData / 2 : 0;

        const myChart = new Chart(ctx, { <!-- グラフの設定 -->
          type: 'bar',
          data: {
            labels: labels,
            datasets: [{
              label: '金額',
              data: data,
              backgroundColor: [ <!-- 背景色の設定 -->
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [ <!-- 枠線の色の設定 -->
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1 <!-- 枠線の幅の設定 -->
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: false,
                  min: yMin
                }
              }]
            }
          }
        });
      });
      </script>
    <% else %>
      <p>見積登録ボタンを押下して見積を登録しましょう</p>
    <% end %>
    <div class="event-quotes-list">
      <% @event.event_quotes.each_with_index do |quote, index| %>
        <div class="event-quote-item">
          <p>登録回数: <%= index + 1 %></p> <!-- 登録回数を表示 -->
          <p>登録日: <%= quote.input_date.strftime("%Y年%m月%d日") %></p> <!-- 登録日を表示 -->
          <p>金額: <%= number_with_delimiter(quote.cost.to_i) %>円</p> <!-- 金額を表示 -->
          <p>大人の人数: <%= quote.guest.adult_count %></p> <!-- 大人の人数を表示 -->
          <p>子供の人数: <%= quote.guest.child_count %></p> <!-- 子供の人数を表示 -->
          <p>コメント: <%= quote.detail.present? ? quote.detail : 'なし' %></p> <!-- コメントを表示、コメントがnullの場合は'なし'を表示 -->
          <%= link_to '削除', event_event_quote_path(@event, quote), class: 'event-destroy', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %> <!-- 削除ボタン -->
        </div>
      <% end %>
    </div>
</div>
