<div id="event-form-container">
  <header id="event-form-header">
  </header>
  <div id="event-form-main">
    <h2 id="event-form-title">イベントの概要を入力</h2>
  </div>
    <%= form_with model: @event_form, url: event_event_quotes_path(@event), local: true, html: { data: { turbo: "false" } } do |f| %>
      <%= render 'shared/error_messages', model: @event_form %>
        
      <div id="new-event">

        <%# ゲスト %>
        <div class="event-name-label">
          ゲスト人数（大人）
        </div>
        <%= f.text_field :adult_count, class:"event-name-input", id:"adult_count-input", placeholder:"大人の参加人数を入力", maxlength:"40" %>
        <div class="event-name-label">
          ゲスト人数（子供）
        </div>
        <%= f.text_field :child_count, class:"event-name-input", id:"child_count-input", placeholder:"子供の参加人数を入力", maxlength:"40" %>

        <%# 挙式 %>
        <div class="event-name-label">
          挙式
        </div>
        <div id="ceremony-container">
            <%= render 'form_fields', f: f, field: :ceremony, placeholder: "挙式", index: @fieldIndices[:ceremonies] %>
        </div>
        <button type="button" id="show-ceremony-fields-button">+</button>

        <%# 料理 %>
        <div class="event-name-label">
          料理/料理の費用
        </div>
        <div id="food-container">
          <%= render 'form_fields', f: f, field: :food, placeholder: "料理", index: @fieldIndices[:foods] %>
        </div>
        <button type="button" id="show-food-fields-button">+</button>
        
        <%# 会場 %>
        <div class="event-name-label">
          会場
        </div>
        <div id="venue-container">
          <%= render 'form_fields', f: f, field: :venue, placeholder: "会場", index: @fieldIndices[:venues] %>
        </div>
        <button type="button" id="show-venue-fields-button">+</button>
        
        <%# 衣装 %>
        <div class="event-name-label">
          衣装
        </div>
        <div id="costume-container">
          <%= render 'form_fields', f: f, field: :costume, placeholder: "衣装", index: @fieldIndices[:costumes] %>
        </div>
        <button type="button" id="show-costume-fields-button">+</button>
        
        <%# 美容 %>
        <div class="event-name-label">
          美容
        </div>
        <div id="beauty-container">
          <%= render 'form_fields', f: f, field: :beauty, placeholder: "美容", index: @fieldIndices[:beauties] %>
        </div>
        <button type="button" id="show-beauty-fields-button">+</button>
        
        <%# 装花 %>
        <div class="event-name-label">
          装花
        </div>
        <div id="flower-container">
          <%= render 'form_fields', f: f, field: :flower, placeholder: "装花", index: @fieldIndices[:flowers] %>
        </div>
        <button type="button" id="show-flower-fields-button">+</button>
        
        <%# 印刷物 %>
        <div class="event-name-label">
          印刷物
        </div>
        <div id="print-container">
          <%= render 'form_fields', f: f, field: :print, placeholder: "印刷物", index: @fieldIndices[:prints] %>
        </div>
        <button type="button" id="show-print-fields-button">+</button>
        
        <%# 演出 %>
        <div class="event-name-label">
          演出
        </div>
        <div id="staging-container">
          <%= render 'form_fields', f: f, field: :staging, placeholder: "演出", index: @fieldIndices[:stagings] %>
        </div>
        <button type="button" id="show-staging-fields-button">+</button>
        
        <%# 写真 %>
        <div class="event-name-label">
          写真
        </div>
        <div id="photo-container">
          <%= render 'form_fields', f: f, field: :photo, placeholder: "写真", index: @fieldIndices[:photos] %>
        </div>
        <button type="button" id="show-photo-fields-button">+</button>
        
        <%# ビデオ %>
        <div class="event-name-label">
          ビデオ
        </div>
        <div id="video-container">
          <%= render 'form_fields', f: f, field: :video, placeholder: "ビデオ", index: @fieldIndices[:videos] %>
        </div>
        <button type="button" id="show-video-fields-button">+</button>
        
        <%# 引出物 %>
        <div class="event-name-label">
          引出物
        </div>
        <div id="gift-container">
          <%= render 'form_fields', f: f, field: :gift, placeholder: "引出物", index: @fieldIndices[:gifts] %>
        </div>
        <button type="button" id="show-gift-fields-button">+</button>
        
        <%# 前撮り %>
        <div class="event-name-label">
          前撮り
        </div>
        <div id="pre_ceremony-container">
          <%= render 'form_fields', f: f, field: :pre_ceremony, placeholder: "前撮り", index: @fieldIndices[:pre_ceremonies] %>
        </div>
        <button type="button" id="show-pre_ceremony-fields-button">+</button>
      </div>
      
      <div class="subtotal-display">
        小計: <span id="subtotal-display">0</span> 円
      </div>
      <div class="tax-amount-display">
        税額: <span id="tax-amount-display">0</span> 円
      </div>
      <div class="total-cost-display">
        税込価格: <span id="total-cost-display">0</span> 円
        <%= f.hidden_field :cost, id: "total-cost-hidden", value: 0 %>
      </div>
      
      <div class="event-detail-label">
        詳細
      </div>
      <%= f.text_area :detail, class: "event-detail-input", placeholder: "詳細を入力" %>

      <%# 下部ボタン %>
      <div id="event-form-buttons">
        <%= f.submit "登録" ,class:"submit-btn" %>
        <%=link_to 'もどる', root_path, class:"back-btn" %>
      </div>
      <%# /下部ボタン %>
    <% end %>
  </div>
  <footer id="event-form-footer">
  </footer>
</div>


<script>
  window.onload = function() {
    var fieldIndices = {
      food: 1,
      venue: 1,
      ceremony: 1,
      gift: 1,
      pre_ceremony: 1,
      costume: 1,
      beauty: 1,
      flower: 1,
      print: 1,
      staging: 1,
      photo: 1,
      video: 1,
    };

    function showNextField(fieldType) {
      var index = fieldIndices[fieldType];
      var typeField = document.getElementById(fieldType + '_type_' + index);
      var costField = document.getElementById(fieldType + '_cost_' + index);
      if (typeField && costField) {
        typeField.style.display = 'block';
        costField.style.display = 'block';
        fieldIndices[fieldType]++;
      }
    }

    document.getElementById('show-food-fields-button').addEventListener('click', function() {
      showNextField('food');
    });

    document.getElementById('show-venue-fields-button').addEventListener('click', function() {
      showNextField('venue');
    });

    document.getElementById('show-ceremony-fields-button').addEventListener('click', function() {
      showNextField('ceremony');
    });

    document.getElementById('show-gift-fields-button').addEventListener('click', function() {
      showNextField('gift');
    });

    document.getElementById('show-pre_ceremony-fields-button').addEventListener('click', function() {
      showNextField('pre_ceremony');
    });

    document.getElementById('show-costume-fields-button').addEventListener('click', function() {
      showNextField('costume');
    });

    document.getElementById('show-beauty-fields-button').addEventListener('click', function() {
      showNextField('beauty');
    });

    document.getElementById('show-flower-fields-button').addEventListener('click', function() {
      showNextField('flower');
    });

    document.getElementById('show-print-fields-button').addEventListener('click', function() {
      showNextField('print');
    });

    document.getElementById('show-staging-fields-button').addEventListener('click', function() {
      showNextField('staging');
    });

    document.getElementById('show-photo-fields-button').addEventListener('click', function() {
      showNextField('photo');
    });

    document.getElementById('show-video-fields-button').addEventListener('click', function() {
      showNextField('video');
    });
  } 
</script>